body {
    background-color: #000;
}

#video-display {
    -moz-box-shadow: 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
    background-color: #333;
}

#video-title {
    color: #aaa;
    background-color: #333;
}

#video-title a {
    color: #69c;
}

#channel-list li {
    color: #aaa;
}

#channel-list li:hover {
    background-color: #333;
}

#channel-list .chan-selected {
    -moz-box-shadow: 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
    background-color: #333;
}

#header {
    color: #888;
}

#sitename {
    color: #e40;
}

#css-button-light {
    background-color: #bbb;
    border: 1px solid #666;
}

#css-button-light:hover {
    background-color: #eee;
}

#css-button-dark {
    background-color: #333;
    border: 1px solid #555;
}

#css-button-dark:hover {
    background-color: #666;
}

#footer {
    color: #444;
}

#vote-button {
    color: #69c;
}

#fill-nav {
    background-color: #000;
}

.nav-button {
    color: #888;
    background-color: #555;
}

a.nav-button:hover {
    background-color: #444;
}
