body {
    background-color: #fff;
}

#video-display {
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    background-color: #eee;
}

#video-title {
    color: #999;
    background-color: #eee;
}

#video-title a {
    color: #369;
}

#channel-list li {
    color: #999;
}

#channel-list li:hover {
    background-color: #eee;
}

#channel-list .chan-selected {
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    background-color: #eee;
}

#header {
    color: #ccc;
}

#sitename {
    color: #f40;
}

#css-button-light {
    background-color: #eee;
    border: 1px solid #999;
}

#css-button-light:hover {
    background-color: #ccc;
}

#css-button-dark {
    background-color: #444;
    border: 1px solid #aaa;
}

#css-button-dark:hover {
    background-color: #888;
}

#footer {
    color: #ccc;
}

#vote-button {
    color: #369;
}

#fill-nav {
    background-color: #fff;
}

.nav-button {
    color: #fff;
    background-color: #ddd;
}

a.nav-button:hover {
    background-color: #ccc;
}
